{% extends 'welcomepage.html' %}
{% load static %}
    {% block content %}
    {% for message in messages %}
    <div class="message-box">
      
       <p>{{message}}</p>
    
    </div>
   {% endfor %}
    <div class="register-container">
        <h2>Register as Tenant</h2>
        <form method="POST" action="{% url 'tenant-register' %}">
            {% csrf_token %}
            {{form.as_p}}
            <input class="submit-btn" type="submit" value="Register" />
            <p>Already have an account?<a href="{% url 'user-login' %}">Sign In</a></p>
        </form>
    </div>
    {% endblock content %}