{% extends 'welcomepage.html' %}
{% load static %}
{% block title %}Add video Tour to property{% endblock %}
{% block content %}

<section class="hero is-small has-background-dark  pr-3 pl-2 pb-2 mt-5">
    <div class="hero-body">
      <p class="title has-text-white">
        Upload a video tour
      </p>
      <p class="subtitle has-text-white">
        It's only second to visiting in person
      </p>
    </div>
    <progress class="progress is-primary" value="100" max="100">15%</progress>
  </section>
<div class="column is-half is-offset-one-quarter mt-3 ">
    <form method="POST" action="" enctype='multipart/form-data'>
        {% csrf_token %}

        <div class='box type-field-container'>
            <div class="field">
                <h3 class="subtitle is-3">Video tour</h3>
                <h6 class="subtitle is-6">lightning and video stability</h6>
                <div class="file is-info has-name">
                    <label class="file-label">
                      {{form.videofile}}
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a Video
                        </span>
                      </span>
                      <span class="file-name">
                        
                      </span>
                    </label>
                  </div> 
            </div>
        </div>
        <button type="submit" class="button is-black">Done</button>
    </form>
    
</div>

{% endblock %}